/*
* File Name: main.css v0.2.0
* Update: 2020.04.05
* Author: dgt2807
*/
/*로고*/
.logo{
    color: rosybrown;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
}
/*메인메뉴*/
ul{
    width: 100%;
    margin: 0;
    padding: 15px 10px 8px;
    background: rgb(49, 49, 49);
    height: 30px;
    list-style: none;
    
}   
ul li{
    float: left;
    margin-right: 10px;

}
ul li a{
    color: rgb(255,255,255);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Hi Melody', cursive;
}
/*box model test*/
.box1{
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px solid black;
}
.box2{
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px dotted black;
    border-radius: 25px;
}
.box3{
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px solid black;
    box-shadow: 10px 10px 5px 5px black;
}

