/*
* File Name: main.css v0.1.0
* Update: 2020.04.01
* Author: dgt2807
*/
/*로고*/
.logo{
    color: rosybrown;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
}
.article-bg1 {
    height: 400px;
    padding: 15px;
    background-color: rgb(96, 201, 250) ;
    text-align: center;
}
.article-bg2 {
    height: 650px;
    padding: 15px;
    background-color: rgb(84, 197, 250) ;
    text-align: center;
}
/*메인메뉴*/
ul{
    width: 100%;
    margin: 0;
    padding: 15px 10px 8px;
    background: rgb(49, 49, 49);
    height: 30px;
    list-style: none;
    
}   
ul li{
    float: left;
    margin-right: 10px;

}
ul li a{
    color: rgb(255,255,255);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Hi Melody', cursive;
}
/* 멀티미디어 연습*/
.img-size1{
    width:150px ;
    height:150px ;
    margin: 25px;
}
.img-size2{
    width:150px ;
    height: 100px ;
    margin: 25px;
}
.b-radius1{
    border-radius: 10%;
}
.b-radius2{
    border-radius: 25%;
}
.b-radius3{
    border-radius: 50%;
}
.b-radius4{
    border-radius: 100%;
}

