/*
* File Name: main.css v0.5.0
* Update: 2020.05.07
* Author: dgt2807
*/
/*로고*/
.logo{
    color: rosybrown;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
}
.article-bg1 {
    height: 400px;
    padding: 15px;
    background-color: rgb(96, 201, 250) ;
    text-align: center;
}
.article-bg2 {
    height: 650px;
    padding: 15px;
    background-color: rgb(84, 197, 250) ;
    text-align: center;
}
.article-bg3 {
    height: 450px;
    padding: 15px;
    background-color: rgb(231, 225, 168) ;
    text-align: center;
}
/*메인메뉴*/
ul{
    width: 100%;
    margin: 0;
    padding: 15px 10px 8px;
    background: rgb(49, 49, 49);
    height: 30px;
    list-style: none;
    
}   
ul li{
    float: left;
    margin-right: 10px;

}
ul li a{
    color: rgb(255,255,255);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Hi Melody', cursive;
}
/* 멀티미디어 연습*/
.img-size1{
    width:150px ;
    height:150px ;
    margin: 25px;
}
.img-size2{
    width:150px ;
    height: 100px ;
    margin: 25px;
}
.b-radius1{
    border-radius: 10%;
}
.b-radius2{
    border-radius: 25%;
}
.b-radius3{
    border-radius: 50%;
}
.b-radius4{
    border-radius: 100%;
}
table caption{
    color: bisque;
    margin: 10px;
}
table{
    border-collapse: separate;
    border: 2px solid rgb(222, 228, 235);
    border-spacing: 50px;
    margin: 40px auto;
    width: 80%;
    height: 60%;
}
thead tr th{

  color: aliceblue;
}
td {
    color: bisque;
    text-deco;
}
tfoot th{
    
    text-align: right;
    color: aliceblue;
}
.grid-container{
    display:grid;
    grid: 100px 100px 100px 100px 100px/
    auto auto auto auto auto auto auto;
    grid-gap:5px;
}
.cell-1{grid-column:1/span 2;}
.cell-3{grid-column:4/span 3;}
.cell-4{grid-column:7/span 8;
    grid-row:1/span 3;}
.cell-5{grid-row:2/span 2;}
.cell-6{grid-column:2/span 2;
    grid-row:2/span 2;}
.cell-7{grid-column:4/span 3;
    grid-row:2/span 2;}
.cell-8{grid-column:1/span 6;}
div.grid-container > div{background-color:rgb(221, 79, 79);}

}


